// login.component.scss

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff;
  padding: 60px 40px;  /* Plus de padding pour augmenter la taille verticale */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  font-size: 28px;  /* Augmenter la taille du titre */
  margin-bottom: 30px;  /* Plus de marge en bas pour espacer les éléments */
  color: #4a4a8a;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  font-size: 18px;  /* Augmenter la taille de la police */
  padding: 15px;  /* Augmenter le padding pour agrandir les champs de saisie */
  margin-bottom: 25px;  /* Plus de marge pour espacer les champs */
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login-container button {
  background-color: #4a4a8a;
  color: white;
  padding: 15px;  /* Augmenter le padding pour agrandir le bouton */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;  /* Augmenter la taille de la police */
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #3b3b6b;
}
