<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h2>Logo</h2>
      <a mat-list-item href="admin-dashboard">Tableau de bord</a>
      <a mat-list-item href="#">Clients</a>
      <a mat-list-item href="#">Tableaux</a>
    </mat-nav-list>
  </mat-sidenav>
  <ng-content></ng-content>

</mat-sidenav-container>
