<!-- admin-dashboard.component.html -->
<div class="dashboard-container">
  <div class="header">
    <h1>Juillet 2024</h1>
  </div>
  <div class="content">
    <div class="card large">
      <h2>Chiffre d'affaire</h2>
      <p>12 789€</p>
    </div>
    <div class="card">
      <h2>Nombre de vente</h2>
      <p>15+</p>
    </div>
    <div class="card">
      <h2>Acquéreurs</h2>
      <p>4+</p>
    </div>
    <div class="card">
      <h2>Certificats générés</h2>
      <p>12+</p>
    </div>
    <div class="card">
      <h2>Taux d'évolution</h2>
      <p>+11,4%</p>
    </div>
  </div>
</div>
